# Objective's Anton Evaluation

## Install Dependencies and Import Libraries

Install the required dependencies

In [ ]:
! pip install -r requirements.txt

Import the required libraries

In [2]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score

## Load the Dataset and Compute the Correlations

Load the dataset. Each row contains a relevance judgment for a given query and article from Anton (anton_grade), GPT4V (gpt4v_naive_grade) and two human evaluators (human_0_grade and human_1_grade). The original dataset is available [here](https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations).

In [8]:
df = pd.read_csv('relevance_judgements.tsv', sep='\t')
df.head(15)

,query,anton_grade,gpt4v_naive_grade,human_0_grade,human_1_grade,article_id
0,10p terry without clip,1,1,1,0,742947002
1,10p terry without clip,2,2,2,2,186264016
2,10p terry without clip,2,2,2,2,186264014
3,10p terry without clip,2,2,2,2,186264015
4,10p terry without clip,2,2,2,2,632784001
5,10p terry without clip,2,2,1,2,523489013
6,10p terry without clip,2,2,1,2,523489015
7,10p terry without clip,2,2,1,2,523489001
8,10p terry without clip,2,2,1,2,523489019
9,10p terry without clip,0,0,0,0,186266004
10,a cover to protect my iphone,2,2,2,2,615749001
11,a cover to protect my iphone,2,2,2,2,615749002
12,a cover to protect my iphone,0,0,0,0,934545001
13,a cover to protect my iphone,2,2,2,2,678571006
14,a cover to protect my iphone,2,2,2,2,678571011

### Compute the Correlation between Anton and a Human Evaluator

We compute the Cohen's Kappa correlation between Anton and a human evaluator by using the `cohen_kappa_score` function from `sklearn.metrics`.

In [9]:
cohen_kappa_score(df['anton_grade'], df['human_0_grade'])

np.float64(0.6205688257950559)

### Compute the Correlation between GPT4V and a Human Evaluator

In [11]:
cohen_kappa_score(df['gpt4v_naive_grade'], df['human_0_grade'])

np.float64(0.49124935388014157)

### Compute the Correlation between the two Human Evaluators

In [12]:
cohen_kappa_score(df['human_0_grade'], df['human_1_grade'])

np.float64(0.6676610679368262)